name: test script

run-name: test script

on: 
  workflow_dispatch:

jobs:

  fastlane-deliver-android:
    name: Build for ${{ matrix.target }}
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        target: [Android, iOS]
        include:
          - os: ubuntu-latest
            target: Android
            release-tag: "delivered-playstore"
          - os: macos-latest
            target: iOS
            release-tag: "delivered-appstore"
      fail-fast: false
    steps:
      - run: echo "${{ matrix.target }} delivery triggered by ${{ github.actor }} "
      - uses: actions/checkout@v4
        with: 
          fetch-depth: 0
      
      - name: Get branch names.
        id: branch-names
        uses: tj-actions/branch-names@v8
      
      - name: Print current branch name 
        run: | 
          echo "Current branch: ${{ steps.branch-names.outputs.current_branch }}"

      - name: Retrieve version
        id: version-analyzer
        run: |
          which yq
          yq --version
          echo "VERSION=$(yq -r .version pubspec.yaml)" >> $GITHUB_OUTPUT

      - name: Stop if already delivered
        if: matrix.target == 'Android'
        uses: actions/github-script@v5
        env: 
          VERSION: ${{ steps.version-analyzer.outputs.VERSION }}
        with:
          result-encoding: 'json'
          script: |
            console.log(`Looking for delivered tag: ${{ matrix.release-tag }}-${{env.VERSION}}`)
            try {
              await github.rest.git.getRef({
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: 'refs/tags/${{ matrix.release-tag }}-${{env.VERSION}}',
                sha: context.sha
              })
            } catch(e) {
              console.log(e)
              console.log('Tag does not exist yet for ${{ matrix.release-tag }}-${{env.VERSION}}')
              return
            }
            core.setFailed('Tag already exists for ${{ matrix.release-tag }}-${{env.VERSION}}')
            
      - name: Stop when version already delivered
        if: failure()
        run: |
          exit 1

      - name: Create tag
        # temporarily android only
        if: matrix.target == 'Android'
        uses: actions/github-script@v5
        env: 
          VERSION: ${{ steps.version-analyzer.outputs.VERSION }}
        with:
          script: |
            console.log(`${{ matrix.release-tag }}-${{env.VERSION}}`)
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ matrix.release-tag }}-${{env.VERSION}}',
              sha: context.sha
            })

